.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .document {
        margin-top: -50px;
    }

    .navigation {
        margin-top: 20px;
        z-index: 2;
        button {
            font-family: Poppins;
            height: 51px;
            width: 150px;
            background: #3F3A67;
            border-radius: 100px;
            color: #ffffff;
            font-size: 1.25em;
            &:hover {
                color: #ffffff !important;
            }
        }
    }

    p {
        z-index: 2;
        margin-top: -80px;
    }
}
