.auth-container{
    // background-image: linear-gradient(to right bottom, #13ffff, #00f0ff, #00dfff, #00cfff, #00bdff, #00afff, #00a0ff, #1990ff, #2080ff, #4a6bff, #744dff, #9c00ff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #3F3A67;
}

.content {
        background: linear-gradient(to bottom right, white, #F8F8F8);
        box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
        padding: 1.5rem 2.5rem;
        color: #4a5666;
        min-height: 320px;
        min-width: 340px;
}
.content h1{
    color:gray;
}
.signin label{
        display: flex;
        margin-bottom: 10px;
        color:#b7b3b3;
}
.signin input{
        display: flex;
        padding:0;
        border:0;
        background: #f1f1f1;
        min-height: 38px;
        border-radius: 5px;
        min-width: 250px;
        padding: 0 15px;
        margin-bottom: 20px;
}
.signin input:focus{
       outline:0;
}
.signin .btn{
        background-color: #3F3A67;
        padding: 10px 26px;
        border-radius: 5px;
        color: #FFF;
        margin: 15px 0;
        display: inline-block;
        font-size: 13px;
        &:hover{
            color: #7ed386;
        }
}

.forgot-password{
    color: #3F3A67;
    margin-top:20px;
}
  